@tailwind base;
@tailwind components;
@tailwind utilities;

/* BCSans-BoldItalic */
@font-face {
    font-family: 'BCSans';
    src: url('/fonts/2023_01_01_BCSans-BoldItalic_2f.woff2') format('woff2'),
         url('/fonts/2023_01_01_BCSans-BoldItalic_2f.woff') format('woff'),
         url('/fonts/2023_01_01_BCSans-BoldItalic_2f.ttf') format('truetype'),
         url('/fonts/2023_01_01_BCSans-BoldItalic_2f.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* BCSans-LightItalic */
@font-face {
    font-family: 'BCSans';
    src: url('/fonts/2023_01_01_BCSans-LightItalic_2f.woff2') format('woff2'),
         url('/fonts/2023_01_01_BCSans-LightItalic_2f.woff') format('woff'),
         url('/fonts/2023_01_01_BCSans-LightItalic_2f.ttf') format('truetype'),
         url('/fonts/2023_01_01_BCSans-LightItalic_2f.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: italic;
}

/* BCSans-Bold */
@font-face {
    font-family: 'BCSans';
    src: url('/fonts/2023_01_01_BCSans-Bold_2f.woff2') format('woff2'),
         url('/fonts/2023_01_01_BCSans-Bold_2f.woff') format('woff'),
         url('/fonts/2023_01_01_BCSans-Bold_2f.ttf') format('truetype'),
         url('/fonts/2023_01_01_BCSans-Bold_2f.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* BCSans-Regular */
@font-face {
    font-family: 'BCSans';
    src: url('/fonts/2023_01_01_BCSans-Regular_2f.woff2') format('woff2'),
         url('/fonts/2023_01_01_BCSans-Regular_2f.woff') format('woff'),
         url('/fonts/2023_01_01_BCSans-Regular_2f.ttf') format('truetype'),
         url('/fonts/2023_01_01_BCSans-Regular_2f.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* BCSans-Italic */
@font-face {
    font-family: 'BCSans';
    src: url('/fonts/2023_01_01_BCSans-Italic_2f.woff2') format('woff2'),
         url('/fonts/2023_01_01_BCSans-Italic_2f.woff') format('woff'),
         url('/fonts/2023_01_01_BCSans-Italic_2f.ttf') format('truetype'),
         url('/fonts/2023_01_01_BCSans-Italic_2f.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* BCSans-Light */
@font-face {
    font-family: 'BCSans';
    src: url('/fonts/2023_03_14_BCSans-Light_2g.woff2') format('woff2'),
         url('/fonts/2023_03_14_BCSans-Light_2g.woff') format('woff'),
         url('/fonts/2023_03_14_BCSans-Light_2g.ttf') format('truetype'),
         url('/fonts/2023_03_14_BCSans-Light_2g.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Itim-Regular */
@font-face {
    font-family: 'Itim';
    src: url('/fonts/Itim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Noto Sans Mono */
@font-face {
    font-family: 'Noto Sans Mono';
    src: url('/fonts/NotoSansMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body, * {
    font-family: 'BCSans', sans-serif;
}

h1 {
    font-family: 'Itim', sans-serif;
    font-size: 3rem;
    position: fixed;
    top: 1%;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
    z-index: 9998;
    pointer-events: none; 
}

h2 {
    margin-top: 1rem;
    color: #000;
    font-family: Itim;
    font-size: 2.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

h3 { 
    color: #000;
    font-family: "BCSans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img.photos  {
    width: auto;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    border: 0.075rem solid #000;
    max-width: 150px;
  }

  img.main.single {
    height: 115%;
  }

  .monument-id {
    color: #000;
    font-family: "Noto Sans Mono";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .image-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    perspective: 100rem;
    margin: 1.25rem 0rem;
    height: 100px;
  }

  .image-container img.main {
    z-index: 2;
    transition: transform 0.3s ease;
    position: relative;
  }

  .image-container img.side {
    height: 90px;
    position: absolute;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .image-container img.left {
    left: 25%;
    top: 15%;
    transform: translateX(-50%) rotateZ(5deg);
  }

  .image-container img.right {
    right: 25%;
    top: 15%;
    transform: translateX(50%) rotateZ(-5deg);
  }

  .image-container img.centered-left {
    transform: translateX(10%) rotateZ(5deg); /* Adjust the percentage as needed */
    z-index: 1;
  }

  .image-container img.centered-right {
    transform: translateX(-10%) rotateZ(-5deg); /* Adjust the percentage as needed */
    z-index: 1;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
}

.text-truncate {
    max-height: 4.5rem;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
}

.text-truncate::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.2rem;
    background: linear-gradient(to right, transparent, white 50%);
}
  p.description {
    margin-top: 0.075rem;
  }

  .learn-more-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 0.5rem; 
}
  .learn-more-button {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.learn-more-button:hover,
.learn-more-button:focus {
    text-decoration: none;
}